<appSettings>
  
  <!-- Email -->
  <add key="email:server" value="smtp.gmail.com" />
  <add key="email:port" value="465" />
  <add key="email:username" value="raspael.johnson.rj" />
  <add key="email:password" value="ltlfgtbnctzdfxhf" />
  <add key="email:address" value="raspael.johnson.rj@gmail.com" />

  <!-- SMS -->
  <add key="sms:server" value="" />
  <add key="sms:token" value="" />
  
  <!-- Telegram -->
  <add key="tg:token" value="ab705cbf98ebf54d1db07f2fce87d3be895642dfWpOeVtraLiqpbHbgWNE8Qyg1Q" />
  <add key="tg:proxyAddress" value="orbtl.s5.opennetwork.cc:999" />
  <add key="tg:proxyType" value="socks5" />
  <add key="tg:proxyUsername" value="72834566" />
  <add key="tg:proxyPassword" value="Ey2lYIiv" />
  
</appSettings>